form{
  margin:0px;
}

.open .form-control {
  border-radius: 4px !important;
  border-bottom-color: rgb(170, 170, 170) !important;
}

#main-loader{
  position: fixed;
  z-index: 999;
  /*height: 2em;*/
  /*width: 2em;*/
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 300px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(188,188,188, 0.2);
  border-right: 1.1em solid rgba(188,188,188, 0.2);
  border-bottom: 1.1em solid rgba(188,188,188, 0.2);
  border-left: 1.1em solid #bcbcbc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.stat {
  -webkit-border-radius: 4!important;
  -moz-border-radius: 4!important;
  border-radius: 4!important;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.stat .number {
  font-size: 2em;
  display: block;
  tex
}

.stat .emteste {
  font-weight: bold;
  color: #333;
}

.stat.blue {
  color: #ffffff;
  background-color: #3598dc;
}

/* Permite scroll nos resultados de busca */
.typeahead__list{
  overflow: auto;
  height: 500px;
}

.select2-dropdown {
  z-index: 99999;
}


.bootstrap-dialog-message .form-group {
  margin-left: 0;
}

.bootstrap-dialog-footer-buttons .btn-default {
  float: left;
}

.fc-more-popover .fc-event-container {
  padding: 10px;
  overflow-y: scroll !important;
  max-height: 100px !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

fieldset {margin: 0 0 20px 0}
fieldset legend {margin: 0 0 10px 0;}
.linkonlegend {font-size: 14px;}
